<form action="/" method="get">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">
      <label>{{ field.label }}</label>
      {{ field }}
  </div>
  {% endfor %}
  <div class="form-check">
    {% if priority == 'onlyRoad' %}
      <input type="radio" class="form-check-input" id="onlyRoad" value="onlyRoad" name="priority" checked>
    {% else %}
      <input type="radio" class="form-check-input" id="onlyRoad" value="onlyRoad" name="priority">
    {% endif %}
    <label class="form-check-label" for="onlyRoad">Только наземный транспорт</label>
  </div>
  <div class="form-check">
    {% if priority == 'fast' %}
      <input type="radio" class="form-check-input" id="fast" value="fast" name="priority" checked>
    {% else %}
      <input type="radio" class="form-check-input" id="fast" value="fast" name="priority">
    {% endif %}
      <label class="form-check-label" for="fast">Самый быстрый способ</label>
  </div>
  <div class="form-check">
    {% if priority == 'lowCost' %}
      <input type="radio" class="form-check-input" id="lowCost" value="lowCost" name="priority" checked>
    {% else %}
      <input type="radio" class="form-check-input" id="lowCost" value="lowCost" name="priority">
    {% endif %}
      <label class="form-check-label" for="lowCost">Наиболее дешёвый путь</label>
  </div>

  <div class="form-group time-select">
    <label for="exampleFormControlSelect1">Время отправления:</label>
    <select class="form-control" id="exampleFormControlSelect1" name="hours">
      {% for hour in hours %}
        {% if hour == selected_hour %}
          <option selected>{{ hour }}</option>
        {% else %}
          <option>{{ hour }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <p>:</p>
    <select class="form-control" id="exampleFormControlSelect1" name="minutes">
      {% for minute in minutes %}
        {% if minute == selected_minute %}
          <option selected>{{ minute }}</option>
        {% else %}
          <option>{{ minute }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  
  <button type="submit" class="btn btn-primary search-form__button">Поехали</button>
</form>