      {% include "header.html" %}   
      {% include "form.html" %}
      {{ body }}
      <div class="routes">
          <div class="routes__item">
              <div class="rout">
                  <h3 class="rout__title">Ваш маршрут</h3>
                  <div>Общее время маршрута: <b>{{ sum.time }} часов</b></div>
                  <div>Общая стоимость маршрута: <b>{{ sum.cost }}₽</b></div>
                  {% for el in route %}
                  <div class="rout__path path container">
                    <div class="row align-items-center">
                      <div class="path__waypoint waypoint col-sm">
                        <div class="waypoint__title align-middle"><p>{{ el.first }}</p></div>
                      </div>
                      <div class="path__arrow col-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="blue" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                        </svg>
                      </div>
                      <div class="path__waypoint waypoint col-sm">
                        <div class="waypoint__title align-middle"><p>{{ el.second }}</p></div>
                      </div>
                    </div>
                    <div class="waypoint__props props">
                      <div class="props__item prop">
                        <div class="prop__name">Транспорт:</div>
                        <div class="prop__value">{{ el.props.0 }}</div>
                      </div>
                      <div class="props__item prop">
                        <div class="prop__name">Время:</div>
                        <div class="prop__value">{{ el.props.1 }} часов</div>
                      </div>
                      <div class="props__item prop">
                        <div class="prop__name">Цена:</div>
                        <div class="prop__value">{{ el.props.2 }} ₽</div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </div>

  {% include "footer.html" %}   